*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.container .car{
    width: 100px;
    height: 15vh;
}
.container .car img{
    position: relative;
    width: 100px;
    height: 15vh;
}